<form #form="ngForm" class="tabbed-view tabbed-view--panel-edit" novalidate>
    <div class="tab-pane fade in active">
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 editor-row'>
                <div class="thingspin-info-box text-center">
                    <h4>{{title}}</h4>
                </div>
            </div>
        </div>
        
        <div class='row'>
            <div class='col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6'>
                <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" #name="ngModel" required name="name" [(ngModel)]="data.name" value="TensorFlow">
                                TensorFlow
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" #name="ngModel" required name="name" [(ngModel)]="data.name" value="Scikits">
                                Scikits
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" #name="ngModel" required name="name" [(ngModel)]="data.name" value="DataRobot">
                                DataRobot
                            </label>
                        </div>
                    </div>
                </div>
        </div>
        <div class='edit-row text-center'>
            <button uiSref="input" class="btn btn-outline-rounded btn-default" (click)="save(form)"> 
                <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> 
                Previous
            </button>
            <button uiSref="model" class="btn btn-success btn-outline-rounded btn-info" [disabled]="!form.valid" (click)="save(form)"> 
                Next 
                <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</form>
