<div ng-style="{'height':'100%'}"> 
        <img src="/public/img/button/4x/start.png" ng-style="{'height':'100%','width':'32%'}" ng-click="ctrl.onClicked(1)">
        <img src="/public/img/button/4x/stop.png" ng-style="{'height':'100%','width':'32%'}" ng-click="ctrl.onClicked(2)">
        <img src="/public/img/button/4x/disconnect.png" ng-style="{'height':'100%','width':'32%'}" ng-click="ctrl.onClicked(3)">
        <!--
        <button ng-style="{'background-color':'#00FF00','border':'none','border-radius':'20%','width':32%,'height':100%}" ng-click="ctrl.onClicked(1)">시작</button>
        <button ng-style="{'background-color':'#8FBC8F','border':'none','border-radius':'20%','width':32%,'height':100%}" ng-click="ctrl.onClicked(0)">중지</button>
        <button ng-style="{'background-color':'#B0C4DE','border':'none','border-radius':'20%','width':32%,'height':100%}" ng-click="ctrl.onClicked(2)">해제</button>
        -->
</div>