@import 'node_modules/@angular/material/theming';
@include mat-core();

$theme-primary: mat-palette($mat-indigo);
$theme-accent: mat-palette($mat-light-green, A200);
$theme-warn: mat-palette($mat-orange, A700);
