@import 'node_modules/@angular/material/theming';
@include mat-core();

$theme-primary: mat-palette($mat-blue-grey, 700, 300, 900);
$theme-accent: mat-palette($mat-grey);
$theme-warn: mat-palette($mat-orange, A700);
