@import 'node_modules/@angular/material/theming';

@include mat-core();

@import 'monitoring.style-light.scss';

.monitoring-theme {
  @include mat-core-theme($thingspin-theme);
  @include mat-button-theme($thingspin-theme);
  @include mat-checkbox-theme($thingspin-theme);
  @include mat-table-theme($thingspin-theme);
  @include mix-app-theme($thingspin-theme);
  @include angular-material-theme($thingspin-theme);
}

table {
    width: 100%;
}

.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}