$md-thingspin-dark: (
    50 : #e8e8ea,
    100 : #c5c6ca,
    200 : #9fa0a6,
    300 : #787982,
    400 : #5b5d68,
    500 : #3e404d,
    600 : #383a46,
    700 : #30323d,
    800 : #282a34,
    900 : #1b1c25,
    A100 : #6d7fff,
    A200 : #3a52ff,
    A400 : #0726ff,
    A700 : #001eec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-thingspin-blue: (
    50 : #ecedf4,
    100 : #d0d3e3,
    200 : #b0b5d0,
    300 : #9097bd,
    400 : #7981af,
    500 : #616ba1,
    600 : #596399,
    700 : #4f588f,
    800 : #454e85,
    900 : #333c74,
    A100 : #c1c9ff,
    A200 : #8e9cff,
    A400 : #5b6fff,
    A700 : #4159ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-thingspin-yellow: (
    50 : #fdf8e6,
    100 : #fbedc2,
    200 : #f8e199,
    300 : #f5d470,
    400 : #f3cb51,
    500 : #f1c232,
    600 : #efbc2d,
    700 : #edb426,
    800 : #ebac1f,
    900 : #e79f13,
    A100 : #ffffff,
    A200 : #fff4e2,
    A400 : #ffe2af,
    A700 : #ffd896,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// mat-palette accepts $palette-name, main, lighter and darker variants
$thingspin-theme-primary: mat-palette($md-thingspin-dark, 700, 300, 900);
$thingspin-theme-accent: mat-palette($md-thingspin-blue);
$thingspin-theme-warn: mat-palette($md-thingspin-yellow, A700);

$thingspin-theme: mat-light-theme(
    $thingspin-theme-primary,
    $thingspin-theme-accent,
    $thingspin-theme-warn
);

@mixin mix-app-theme($thingspin-theme) {
    $primary: map-get($thingspin-theme, primary);
    $accent: map-get($thingspin-theme, accent);
    $warn: map-get($thingspin-theme, warn);

    .mat-button-toggle {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }

    .mat-button-toggle-checked {
        background-color: mat-color($accent);
        color: mat-color($accent, default-contrast);
    }
};