<div class='edit-row'>
	<div class='section gf-form-group'>
		<h5 class="section-heading">MQTT</h5>
		<div class="gf-form">
			<span class="gf-form-label width-8">Topic Base</span>
			<input type="text" class="gf-form-input width-16 ng-valid" ng-model="ctrl.mqtt.base" placeholder="{{ctrl.mqtt.base}}" required />
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-8">Input Prefix</span>
			<input type="text" class="gf-form-input width-16 ng-valid" ng-model="ctrl.mqtt.inprefix" placeholder="{{ctrl.mqtt.inprefix}}" required />
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-8">Output Prefix</span>
			<input type="text" class="gf-form-input width-16 ng-valid" ng-model="ctrl.mqtt.outprefix" placeholder="{{ctrl.mqtt.outprefix}}" required />
		</div>	
	</div>
</div>