.splash {
    position: inherit;
    z-index: 2000;
    background: black;
    background-color: black;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: -42px;
    width: 1980px;
    height: 1080px;
}

.splash-title{
    font-size: 26px
}

.color-line {
    border-radius:4px 4px 0 0
}

.bg-fit {
    object-fit: contain;
}