<div class="editor-row">
	<div class="section gf-form-group">
		<div class="gf-form">
			<label class="gf-form-label width-8">Picture URL</label>
			<input type="text" class="input-small gf-form-input width-30" ng-model="ctrl.panel.bgimagePath" ng-change="ctrl.render()" ng-model-onblur />
		</div>	

		<div class="gf-form">
				<label class="gf-form-label width-8">Picture Width</label>
				<input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.imageWidth" ng-change="ctrl.render()" ng-model-onblur />
		</div>
		<div class="gf-form">
				<label class="gf-form-label width-8">Picture Height</label>
				<input type="text" class="input-small gf-form-input width-5" ng-model="ctrl.panel.imageHeight" ng-change="ctrl.render()" ng-model-onblur />
		</div>
	</div>
</div>
